*.swp
*.sdf
*.suo
*.opensdf
*.user
*.a
*.so
Debug/*
Release/*
Release - wo msvcrt DLL/*
lutok/Debug/*
lutok/Release/*
lutok/Release - wo msvcrt DLL/*
example/Debug/*
example/Release/*
example/Release - wo msvcrt DLL/*
CMakeCache.txt
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
cmake_install.cmake
Makefile
